.ace_editor {
  height: 300px;
  font-size: 14px !important;
}
.data {
  padding: 4px;
  font-family: arial;
  font-weight: 300;
}
.data.dt_decimal {
  text-align: right;
}
.data.dt_int {
  text-align: right;
}
.data.dt_money {
  text-align: right;
}
.dataChanged {
  color: #f00 !important;
  font-weight: 500;
}
.editable {
  cursor: ibeam;
}
.editable:hover {
  border: 1px solid #0b0;
}
#pleaseWaitDialog {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #404040;
  z-index: 5000;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  height: 120px;
  box-shadow: 2px 2px 8px 2px #000;
}
.modal-footer {
  background-color: #eee;
}
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.tt-query {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tt-hint {
  color: #999;
}
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #4097cf;
}
.tt-suggestion p {
  margin: 0;
}
.modal-body form {
  padding-top: 10px;
  padding-left: 15px;
  passing-right: 15px;
}
.modal-body label {
  line-height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.form-container {
  padding: 10px;
}
.form-input-fullwidth-custom {
  width: 100%;
  float: none;
  text-align: left !important;
}
.form-label-fullwidth-custom {
  width: 100%;
  float: none;
  padding-bottom: 10px;
  text-align: left !important;
}
.form-button-fullwidth-custom {
  width: 100%;
  float: none;
  padding-bottom: 10px;
}
.material-icons {
  font: normal normal normal 14px/1 FontAwesome;
}
.miller-cols-container-wrapper {
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: #fff;
  display: block;
  overflow: hidden;
}
.miller-cols-container-wrapper ::-webkit-scrollbar {
  background: rgba(0,0,0,0);
  width: 6px;
}
.miller-cols-container-wrapper ::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  height: 30px;
  border-radius: 2px;
}
.miller-cols-body {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border-left: 1px solid #dbdbdb;
}
.miller-col-container,
.miller-col-loading-container {
  border: 1px solid #dbdbdb;
  border-left: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  padding: 0;
  overflow-wrap: break-word;
  min-width: 100%;
}
.miller-col-list-item {
  padding: 10px;
  font-weight: 300;
  display: table;
  width: 100%;
  color: rgba(0,0,0,0.75);
  position: relative;
  text-align: left;
  word-break: break-all;
}
.miller-col-list-item.selected {
  background: #eaeaea;
  color: rgba(0,0,0,0.9);
}
.miller-col-list-item > * {
  vertical-align: middle;
}
.miller-col-list-item .list-item-text .list-item-icon {
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
}
.miller-col-list-item .has-children {
  float: right;
  padding-top: 2px;
}
.miller-col-list-item .has-children:before {
  content: "\f054";
}
.miller-col-list-item .list-item-actions {
  position: absolute;
  right: 12px;
  display: none;
}
.miller-col-list-item:hover {
  background: rgba(0,0,0,0.05);
  cursor: pointer;
}
.miller-col-list-item:hover .list-item-actions {
  display: inline;
}
.miller-col-loading-container .miller-col-body {
  width: 100%;
  height: 100%;
}
.miller-col-loading-container.col-loading .loading-icon-container {
  position: absolute;
  top: 10%;
  left: 45%;
  height: 5rem;
  width: 5rem;
  transform: translate(-50%, -50%);
  background-size: contain;
}
.miller-col-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.miller-col-nav .material-icons {
  font-size: 3em;
  font-weight: 300;
  float: right;
}
.miller-col-nav:hover > * {
  cursor: pointer;
  color: #777;
}
.miller-col-nav.nav-prev {
  left: 0;
  transform: translateX(-100%);
}
.miller-col-nav.nav-prev .material-icons:before {
  content: "\f053";
}
.miller-col-nav.nav-next {
  right: 0;
  transform: translateX(100%);
}
.miller-col-nav.nav-next .material-icons:before {
  content: "\f054";
}
.miller-col-nav.hidden {
  visibility: hidden;
  opacity: 0;
}
.miller-col-loading-container.hidden,
.miller-col-container.hidden {
  display: none;
}
.miller-col-title {
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  padding: 10px;
  font-weight: 900;
  -webkit-box-shadow: 0px 5px 4px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 5px 4px rgba(0,0,0,0.05);
  box-shadow: 0px 5px 4px rgba(0,0,0,0.05);
  position: absolute;
  z-index: 10;
  height: 48px;
  background: #fff;
  width: 100%;
}
.miller-col-title .material-icons.action-add {
  position: absolute;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
}
.miller-col-title .material-icons.action-add:hover {
  font-weight: bold;
  color: #808080;
}
.miller-col-title-text {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 700;
  letter-spacing: 1px;
}
.miller-col-actions {
  float: right;
}
.miller-col-actions .material-icons {
  cursor: pointer;
}
.miller-col-body {
  -webkit-overflow-scrolling: touch;
  margin-top: 48px;
  padding-top: 0;
  overflow-y: auto;
}
.list-item-icon {
  margin-right: 10px;
}
.miller-col-list-item[data-has-children="true"] .list-item-actions {
  right: 40px;
}
.miller-col-list-item:hover .material-icons,
.miller-col-list-item.selected .material-icons {
  color: #777;
}
.list-item-actions .material-icons {
  padding-left: 8px;
  opacity: 0.6;
}
.list-item-actions .material-icons:hover {
  opacity: 1;
}
.text-node {
  white-space: nowrap;
}
.spinner {
  min-width: 24px;
  min-height: 24px;
}
.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  margin-left: -10px;
}
.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.3);
  border-top-color: rgba(0,0,0,0.6);
  animation: spinner 0.6s linear infinite;
  -webkit-animation: spinner 0.6s linear infinite;
}
.scrollable {
  background-color: #fff;
}
.scrollcontent .navbar-default {
  background: #fff;
  margin-top: 15px;
}
.scrollcontent .navbar-default .cancel-btn {
  margin-right: 5px;
}
.PopupMenuCal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  z-index: 5000;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: arrow;
  box-sizing: content-box;
  background-color: #1e1e1e;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  box-shadow: 6px 6px 18px 4px rgba(0,0,0,0.75);
  border: 1px solid rgba(40,40,40,0.75);
}
.PopupCalendar {
  width: 350px;
  height: 340px;
  opacity: 100;
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
  display: block;
  background-color: #1e1e1e;
  font-weight: 600;
  font-size: 16px;
  border: 0px;
  text-align: left;
  text-indent: 0;
  color: #eee;
}
.PopupCalendar th {
  width: 50px;
  border: 1px solid #bbb;
  background-color: #ddd;
  text-align: center;
  vertical-align: bottom;
  color: #202020;
  height: 24px;
  font-size: 0.8vw;
  padding-bottom: 2px;
  cursor: no-drop;
}
.PopupCalendar td {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  color: #202020;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.PopupCalendar td.diffMonth {
  color: #aaa;
}
.PopupCalendar td.today {
  color: #e86432;
  font-weight: 700;
}
.PopupCalendar td.selected {
  background-color: #f3923e;
  color: #202020;
  cursor: no-drop;
  border: 1px solid #f3923e;
}
.PopupCalendar td.sun,
.PopupCalendar td.sat {
  background-color: #e5e5e5;
  color: #404040;
}
.PopupCalendar td.diffMonth.sun,
.PopupCalendar td.diffMonth.sat {
  color: #aaa;
}
.PopupCalendar td:hover {
  color: #fff;
  background-color: #404040;
}
.PopupCalendar td.message {
  height: 24px;
  color: #808080;
  font-weight: 300;
  border-top: 1px solid #bbb;
  font-size: 0.8vw;
}
.PopupMenu {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  background-color: #f3f3f3;
  color: #143c60;
  font-size: 1em;
  font-weight: 300;
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.35);
  border: 1px solid #252a33;
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: content-box;
  top: 0px;
  left: 0px;
  z-index: 55000;
}
.PopupMenu li {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0;
  text-align: left;
  text-indent: 0;
  font-size: 1.1em;
  font-weight: 400;
  opacity: 100;
  position: relative;
  display: block;
}
.PopupMenu li i {
  width: 20px;
}
.PopupMenu li span {
  display: block;
  margin-top: -6px;
  padding-left: 42px;
  padding-bottom: 8px;
  padding-right: 10px;
}
.PopupMenu li.popupMenuItem {
  cursor: pointer;
}
.PopupMenu li.popupMenuItem:hover {
  background-color: #c0c0c0;
  color: #02070c;
}
.PopupMenu li.title {
  background-color: #2980b9;
  background: linear-gradient(top, #2980b9, #2c3e50);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}
.PopupMenu li.title span {
  display: block;
  margin-top: -20px;
}
ul.multicol {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
-webkit-column-rule-color: #707070 li.title,
-moz-column-rule-color: #707070 li.title,
column-rule-color: #707070 li.title {
  -webkit-column-span: 2;
  column-span: 2;
  background-color: #00f;
}
.floatingWindow {
  background-color: #e6e6e6;
  overflow: hidden;
  display: none;
  border: 1px solid #00f;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1503400;
}
.floatingWinBody {
  width: 100%;
  height: 100%;
}
.floatingDropdown {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  height: 34px;
}
.floatingDropdownValue {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.floatingDropdownIcon {
  float: right;
  left: 100%;
  padding-left: 4px;
  padding-right: 6px;
  margin-left: 0px;
  margin-top: -20px;
  color: #ccc;
}
.floatingDropdown:hover .floatingDropdownIcon {
  color: #0b0;
}
.floatingDropdown:hover {
  border: 1px solid #0b0;
}
.popupNavBar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: #cae9c9;
  border-top: 1px solid #bbb;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
.popupNavBar .navbar-btn {
  margin: 2px;
}
.popupNavBar .container-fluid {
  padding: 2px;
  background-color: #f1f1f1;
}
.toolbar-btn i {
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 4px;
}
.toolbar-btn {
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f6f6f6;
  color: #307030;
  border: 1px solid #e0e0e0;
}
.toolbar-btn:hover {
  background-color: #e1e1e1;
  border: 1px solid #d0d0d0;
  color: #108010;
}
.PopupWindow .outer-container,
padding-top: 0px,
.PopupWindow table {
  width: 100%;
}
.PopupWindow {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  background-color: #f3f3f3;
  color: #143c60;
  font-size: 1em;
  font-weight: 300;
  box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.35);
  border: 1px solid #252a33;
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: content-box;
  top: 0px;
  left: 0px;
  width: 300px;
  z-index: 5000;
  cursor: arrow;
  opacity: 1;
}
.PopupWindow .title {
  background-color: #2980b9;
  background: linear-gradient(top, #2980b9, #2c3e50);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  cursor: move;
}
.PopupWindow .title .title_text {
  padding-left: 8px;
}
.PopupWindow .title .closebutton {
  float: right;
  cursor: pointer;
  width: 40px;
  text-align: right;
  padding-right: 8px;
}
.PopupWindow .windowbody {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.scrollable {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  right: 0px;
}
.scrollable .resizeHandle {
  background: url("/images/resize-handle.png") 100% 100% no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 16px;
  width: 16px;
  cursor: se-resize;
  z-index: 9999999999;
}
.scrollcontent {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.detailview {
  width: 100%;
  border-inside: 1px solid #909090;
  white-space: nowrap;
}
.detailview tbody tr:hover td {
  background-color: #edc050;
  cursor: pointer;
}
.detailview tbody tr:nth-child(even) {
  background: #fff;
}
.detailview tbody tr:nth-child(odd) {
  background: #f8f8f8;
}
.detailview tbody tr:nth-child(odd) td,
.detailview tbody tr:nth-child(odd) th {
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
.detailview th {
  float: left;
  width: 180px;
  text-align: right;
  padding-right: 4px;
  line-height: 1.3em;
  font-size: 0.65vw;
  border-right: 1px dotted #ddd;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #404040;
}
.detailview td {
  overflow: hidden;
  line-height: 1.3em;
  font-size: 0.65vw;
  padding-left: 4px;
  padding-right: 4px;
}
.detailview td.editable:hover {
  background-color: #ebb;
  cursor: text;
}
.detailview td.editable {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-top: 2px;
  color: #106010;
}
.detailview td.editing {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-top: 0px;
}
.detailview td.editing .dynamic_edit {
  border: 0px;
  width: 100%;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-top: 0px;
  margin: 0px;
  background-color: #cce4f0;
}
.block-content-table {
  background-color: #fff;
  padding-top: 8px;
}
.tableColumnSortingList {
  min-height: 520px;
}
.tableColumnSortingList li {
  font-size: 11px;
  line-height: 16px;
  background-color: #ffffe0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 6px;
  padding: 0px;
  border: 1px solid #bbbba0;
  width: 164px;
  float: left;
  position: relative;
  cursor: move;
}
.tableColumnSortingList li .colVisible {
  display: inline;
  width: 16px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 0px;
  float: left;
  cursor: pointer;
}
.tableColumnSortingList li .colName {
  margin-left: 4px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
  display: inline;
  float: left;
}
.tableColumnSortingList li .orderText {
  padding: 4px;
  display: inline;
  position: relative;
  right: 0;
  top: 0;
  border-left: 1px solid #bbbb90;
  background-color: #f2f2d5;
  width: 22px;
  font-size: 12px;
  float: right;
  text-align: right;
}
.tableColumnSortingList li.calculation {
  background-color: rgba(209,238,242,0.4);
}
.tableColumnSortingList li.editable {
  background-color: rgba(209,242,232,0.4);
}
.tableColumnSortingList li.notVisible {
  background-color: #eee;
  border: 1px solid #ccc;
}
.tableColumnSortingList li.notVisible .orderText {
  border-left: 1px solid #bbb;
  background-color: #e2e2e2;
}
.tableColumnSortingList li.placeholder {
  background-color: #eeeeb0;
  border: 1px dashed #909080;
  content: "Drop here";
}
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
span#ruler {
  visibility: hidden;
  white-space: nowrap;
  font-size: 12px;
}
.tableview:before {
  content: "";
  position: absolute;
}
.tableviewSimpleWrapper {
  overflow: auto;
}
.statusbar {
  background-color: #eeece9;
  border-top: 1px solid #909090;
  color: #303030;
  font-size: 12px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 26px;
  overflow: hidden;
  padding-left: 4px;
  padding-top: 2px;
}
.statusbar .valueHigher {
  text-decoration: underline;
  color: #00f;
}
.statusbar .valueLower {
  text-decoration: underline;
  color: #f00;
}
.statusbar .scrollStatusText {
  overflow: hidden;
  height: 24px;
  margin-right: 250px;
  line-height: 22px;
}
.statusbar .scrollTextCols {
  background-color: #eeece9;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  line-height: 22px;
  border-left: 1px solid #bbb;
}
.statusbar .scrollTextRows {
  background-color: #eeece9;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  position: absolute;
  right: 150px;
  top: 0;
  width: 150px;
  line-height: 22px;
  border-left: 1px solid #bbb;
}
.statusbar .statusActionsCopy {
  line-height: 22px;
  background-color: #eeece9;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  position: absolute;
  right: 300px;
  top: 0;
  width: 90px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  border-left: 1px solid #bbb;
}
.tableview {
  width: 100%;
  border-inside: 1px solid #909090;
  white-space: nowrap;
  table-layout: fixed;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.tableview div.text-right {
  padding-right: 6px;
  font-family: 'Roboto Condensed', sans-serif;
}
.tableview .header {
  border: 1px solid #00f;
}
.tableview .groupRow {
  background-color: #101040;
  color: #fff;
}
.tableview .groupRowChart1 {
  background-color: #4573a7;
  color: #fff;
}
.tableview .groupRowChart2 {
  background-color: #aa4644;
  color: #fff;
}
.tableview .groupRowChart3 {
  background-color: #71588f;
  color: #fff;
}
.tableview .groupRowChart4 {
  background-color: #89a54e;
  color: #fff;
}
.tableview .groupRowChart5 {
  background-color: #4298af;
  color: #fff;
}
.tableview .groupRowChart6 {
  background-color: #d09392;
  color: #fff;
}
.tableview .groupRowChart7 {
  background-color: #d60006;
  color: #fff;
}
.tableview .groupRowChart8 {
  background-color: #4573a7;
  color: #fff;
}
.tableview .groupRowChart9 {
  background-color: #aa4644;
  color: #fff;
}
.tableview .groupRowChart10 {
  background-color: #71588f;
  color: #fff;
}
.tableview .groupRowChart11 {
  background-color: #89a54e;
  color: #fff;
}
.tableview .groupRowChart12 {
  background-color: #4298af;
  color: #fff;
}
.tableview .groupRowChart13 {
  background-color: #d09392;
  color: #fff;
}
.tableview .groupRowChart14 {
  background-color: #d60006;
  color: #fff;
}
.tableview div.cellfocus {
  border: 1px solid #4040cc !important;
  background-color: rgba(0,0,250,0.2);
}
.tableview div {
  position: absolute;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 22px;
  overflow: hidden;
  background: #fff;
}
.tableview div.spacer.dragging {
  background-color: #00f;
  border: 1px solid #00f;
}
.tableview div.spacer {
  border-right: 1px solid #ddd;
  cursor: ew-resize;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  margin: 0;
  padding: 0;
}
.tableview div.spacer:hover {
  background-color: #007f4a;
}
.tableview div.tableHeaderField {
  background-color: #eee;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  font-size: 12px;
  font-weight: 400px;
  line-height: 20px;
  margin-top: 4px;
  cursor: pointer;
}
.tableview div.tableHeaderField.calculation {
  background-color: #d1eef2;
  background-image: linear-gradient(to bottom, #e6fcfd, #e3f5f7);
}
.tableview div.tableHeaderField.editable {
  background-color: rgba(229,252,242,0.4);
}
.tableview div.tableHeaderFieldHoriz {
  background-color: #eee;
  font-size: 12px;
  font-weight: 400px;
  line-height: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tableview div.tableHeaderField i {
  font-size: 10px;
  padding-top: 6px;
}
.tableview .tableRow .cell.even.calculation {
  background-color: rgba(209,238,242,0.4);
}
.tableview div.even {
  background: #f8f8f8;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
.tableview div.rowCheckbox {
  padding-top: 2px;
  cursor: pointer;
}
.tableview div.checkable {
  width: 26px;
  margin-left: 0px;
  padding-left: 4px;
  padding-right: 4px;
}
.tableview div.selected td {
  background-color: #edc050;
}
.tableview div.dataFilterWrapper {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #ddd;
  background-color: #fff;
}
.tableview .tableRow .cell img {
  margin-top: 4px;
}
.tableview .tableRow .cell .dynamic_edit {
  border: 0px;
  width: 100%;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-top: 0px;
  margin: 0px;
  background-color: #cce4f0;
}
.tableview .tableRow .cell .table_button {
  color: #00a;
  cursor: pointer;
}
.tableview .tableRow .cell .table_button:hover {
  border: 1px solid #000070;
  background-color: #eef;
}
.tableview .tableRow .cell {
  border-right: 1px solid #ddd;
  cursor: cell;
}
.tableview .tableRow .cell .memo {
  color: rgba(0,0,0,0.9);
  overflow: hidden;
  margin-right: 18px;
}
.tableview .tableRow .cell .fieldicon {
  float: right;
  width: 18px;
  color: rgba(0,0,0,0.2);
}
.tableview .tableRow .cell.calculation {
  background-color: rgba(209,238,242,0.2);
}
.tableview .tableRow .cell.first-action {
  border-left: 1px solid #e7b041 !important;
}
.tableview .tableRow .cell.editable:hover {
  background-color: #b0e296;
  cursor: text;
}
.tableview .tableRow .cell.editable {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-top: 2px;
  color: #004f0a;
  cursor: ibeam;
  background-color: rgba(209,252,222,0.2);
}
.tableview .tableRow .cell.even.editable {
  background-color: rgba(209,252,222,0.4);
}
.tableview .tableRow .cell.clickable {
  color: #00b;
  cursor: pointer;
}
.tableview .tableRow .cell.clickable:hover {
  border: 1px solid #000080;
  background-color: #eef;
}
.tableview .tableRow:border-top : 1px solid rgba(0,
.tableview 0,
.tableview 0) {
  border-bottom: 1px solid rgba(0,0,0,0);
}
.tableview .tableRow.hoverOver div,
.tableview .tableRow:hover div {
  border-top: 1px solid rgba(80,0,0,0.7);
  border-bottom: 1px solid rgba(80,0,0,0.7);
  color: #200000;
}
.tableview .tableRow .row_checked {
  font-weight: 600;
  background-color: rgba(210,190,210,0.4);
}
.tableview .tableRow .row_locked {
  font-weight: 500;
  color: #b74f39;
  background-color: #fbf0ee;
}
input.dataFilter:focus {
  border: 0px;
  background-color: #f6fff6;
}
input.dataFilter {
  width: 100%;
  height: 24px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: #205020;
  background-color: #fff;
}
input.editing {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-top: 0px;
}
span.fage {
  text-align: right;
  float: right;
  color: #606060;
  padding-right: 8px;
}
.dataFilter.decimal {
  text-align: right;
}
.editable:hover {
  border: 1px solid #0b0;
}
.outer-container {
  position: absolute;
  height: 100%;
  bottom: 0px;
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
}
.inner-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.table-header {
  height: 40px;
  position: relative;
}
.table-body {
  height: calc(100% - 50px);
  overflow: auto;
}
.table-wrapper {
  position: relative;
  height: 100%;
}
.ninjaTooltip {
  background-color: #f0ebdc;
  color: #003000;
  border: 1px solid #b0abbc;
  font-weight: 500;
  max-width: 300px;
  height: 60px;
  display: none;
}
.ninjaTooltip .text {
  padding: 10px;
}
.ninjaTooltip table {
  padding-top: 10px;
  width: 100%;
}
.ninjaTooltip table td {
  height: 20px;
  vertical-align: top;
  padding-right: 6px;
  padding-left: 6px;
}
.ninjaTooltip table td:nth-child(1) {
  text-align: right;
}
#simpleTooltip {
  position: absolute;
  z-index: 5000;
  padding: 20px;
  background-color: #2c343f;
  color: #eee;
  font-weight: 500;
  max-width: 300px;
  height: 60px;
  display: none;
}
#simpleTooltipIndicator {
  position: absolute;
  z-index: 5000;
  color: #ffcd0e;
  font-weight: 500;
  font-size: 36px;
  right: 4px;
  top: 10px;
  display: none;
}
.marker {
  position: absolute;
  background-color: #8f9f8e;
  left: 1px;
  top: 1px;
  bottom: 1px;
  cursor: move;
}
.marker .dragging {
  background-color: #ec9720;
}
.ninja-tabs {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  webkit-tap-highlight-color: #000;
  tap-highlight-color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: none;
  list-style: disc outside none;
  text-decoration: none;
  font-size: 100%;
  outline: none;
}
.ninja-tabs .clr {
  clear: both;
}
.ninja-tabs ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #909090;
  background-color: #fff;
}
.ninja-tabs li {
  height: 32px;
  font-size: 11px;
  cursor: pointer;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #143c60;
  vertical-align: middle;
  border-right: 1px solid #eee;
}
.ninja-tabs li .badge {
  margin-right: 10px;
}
.ninja-tabs li.badge-warning {
  background-color: #f0ad4e;
  color: #fff;
}
.ninja-tabs li.badge-primary {
  background-color: #337ab7;
  color: #fff;
}
.ninja-tabs li.badge-success {
  background-color: #5cb85c;
  color: #fff;
}
.ninja-tabs li.badge-danger {
  background-color: #d9534f;
  color: #fff;
}
.ninja-tabs li.badge-info {
  background-color: #5bc0de;
  color: #fff;
}
.ninja-tabs li .ninja-tab-text {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}
.ninja-tabs li .ninja-badge {
  display: inline-block;
  margin-right: 4px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #eee;
  width: 20px;
  height: 20px;
  padding-top: 4px;
  text-align: center;
}
.ninja-tabs li.active {
  border-bottom: 2px solid #007cc0;
  color: #002c80;
  font-weight: 500;
}
.ninja-tabs li.active .ninja-badge {
  border: 1px solid darker(#007cc0, 30);
  background-color: #007cc0;
  color: #fff;
}
.ninja-nav-body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
