span#ruler
    visibility: hidden
    white-space: nowrap
    font-size : 12px

.tableview:before
    content  : ""
    position : absolute

.tableviewSimpleWrapper
    overflow: auto

.tableview
    width: 100%
    border-inside: 1px solid #909090
    white-space: nowrap;
    table-layout: fixed;
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

    .header
        border: 1px solid blue

    div.cellfocus
        border:2px dotted #208020 !important
        background: #f9f9ff

    div.int,
    div.decimal
        text-align: right
        padding-right: 4px

    div.last
        border-right : 1px dotted rgba(0,0,0, 0.1)

    div.clickable
        color: #0000BB
        cursor: pointer

    div.clickable:hover
        border: 1px solid #000080
        background-color: #eeeeff

    div
        position    : absolute
        display     : block
        font-family : 'San Francisco Text', "Segoe UI", "Tahoma", "Arial";
        color       : black
        font-weight : 300
        font-size   : 12px
        padding     : 4px
        border-left : 1px dotted rgba(0,0,0, 0.1)
        overflow    : hidden;
        background  : #ffffff;

    div.tableHeaderField
        background-color: #EEEEEE
        background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
        font-size: 12px
        font-weight: 400px
        line-height: 20px

    div.tableHeaderField i
        font-size: 10px
        padding-top: 6px

    div.even
        background: #f8f8f8;
        border-top: 1px dotted #dddddd
        border-bottom: 1px dotted #dddddd

    div.rowCheckbox
        padding-top: 2px
        cursor: pointer

    div.checkable
        width: 26px
        margin-left: 0px
        padding-left: 4px
        padding-right: 4px

    div.selected td
        background-color: rgba(237, 192, 80, 1.0)

    div.editable:hover
        background-color: #eebbbb
        cursor: text

    div.editable
        padding-left: 4px
        padding-right: 4px
        padding-top: 2px
        padding-top: 2px
        color: #106010

    div.dataFilterWrapper
        margin: 0px
        padding: 0px

    .dynamic_edit
        border: 0px
        width: 100%
        height: 100%
        padding-left: 4px
        padding-right: 4px
        padding-top: 0px
        padding-top: 0px
        margin: 0px
        background-color: rgba(204, 228, 240, 1.0)

    div:hover
        background-color: rgba(237, 192, 80, 1.0)
        // cursor: pointer

    div.table_button
        color: #0000AA
        cursor: pointer

    div.table_button:hover
        border: 1px solid #000070
        background-color: #eeeeff

    row:hover div
        border-top: 1px solid rgba(80,0,0,0.7)
        border-bottom: 1px solid rgba(80,0,0,0.7)
        color: #200000

    row.row_checked div
        background-color: rgba(210, 190, 210, 0.4)

input.dataFilter
    width         : 100%
    border        : 0px
    border-top    : 1px solid #D6D6D6
    border-bottom : 1px solid #D6D6D6
    height        : 20px
    padding       : 0px
    margin        : 0px
    color         : #205020

input.editing
    padding-left: 0px
    padding-right: 0px
    padding-top: 0px
    padding-top: 0px

span.fage
    text-align: right
    float: right
    color: #606060
    padding-right: 8px

.dataFilter.decimal
    text-align: right

.editable
    cursor: ibeam

.editable:hover
    border: 1px solid #00bb00

//fixed header styles for table
.outer-container
    position    : absolute
    height      : 100%
    bottom      : 0px
    padding-top : 10px
    width       : 100%
    overflow    : hidden

.inner-container
    height   : 100%
    width    : 100%
    overflow : hidden

.table-header
    height: 40px
    position: relative

.table-body
    height: calc(100% - 50px)
    overflow: auto

.table-wrapper
    position: relative
    height: 100%
