.marker
    position         : absolute
    background-color : #8F9F8E
    left             : 1px
    top              : 1px
    bottom           : 1px
    cursor           : move

.marker .dragging
    background-color: #EC9720
