.blocklyShowSamples

    padding: 0px
    margin: 0px

    .itemTitle

        width            : 100%
        background-color : #DCD2BB
        text-align       : center
        padding          : 6px

    .odd

        border-top     : 1px dotted #dddddd
        padding-left   : 8px
        padding-right  : 8px
        padding-top    : 4px
        padding-bottom : 4px

    .even

        background-color: #F3EBD4
        border-top     : 1px dotted #dddddd
        padding-left   : 8px
        padding-right  : 8px
        padding-top    : 4px
        padding-bottom : 4px