.gridWrapper
    width: 1200px

.grid
    width: 100%
    display: table

    .gridRow

        display: table-row

        .gridCell

            display: table-cell
            padding: 6px

            .gridItem

                // border  : 1px solid rgba(60, 60, 60, 0.25)
                border     : 0px
                box-shadow : 0 1px 3px 0 rgba(0, 0, 0, 0.33)
                padding    : 0px

                .title

                    border           : 0px
                    background-color : #f8f8f8
                    padding-left     : 10px
                    padding-right    : 10px
                    padding-top      : 6px
                    padding-bottom   : 6px
                    color            : #004990
                    font-size        : 14px
                    font-weight      : 500
                    font-family      : 'San Francisco Display', 'Verdana'

                .content

                    background-color : #ffffff
                    color            : #313534
                    border           : 0px
                    padding-left     : 10px
                    padding-right    : 10px
                    padding-top      : 6px
                    padding-bottom   : 6px
                    font-weight      : 400
                    font-family      : 'San Francisco Text', 'Arial'

