.icon_example
    padding-bottom: 6px
    padding-top: 6px

.icon_image
    width     : 40px
    font-size : 20px
    float     : left

.icon_name
    font-size : 20px

.icon_example:hover
    background-color: #fffff3
    color: #006000