#wrapper
	padding-left 250px
	transition all 0.4s ease 0s
	&.active
		padding-left 0
		#sidebar-wrapper
			left 0

#sidebar-wrapper
	margin-left -250px
	left 250px
	width 250px
	background #2C343F
	position fixed
	height 100%
	overflow-y auto
	z-index 1000
	transition all 0.4s ease 0s

#page-content-wrapper
	width 100%

.nav > li > a

	padding-top: 0px
	padding-bottom: 0px

.sidebar-nav
	position absolute
	top 0
	list-style none
	margin 0
	padding 0
	width: 100%

	li
		line-height 40px
		text-indent 20px

		a
			color #999999
			display block
			text-decoration none

			span

				&:before
					position absolute
					left 0
					color #41484c
					text-align center
					width 20px
					line-height 18px

	& > .sidebar-brand
		height 65px
		line-height 60px
		font-size 18px

		a
			color #999999

			&:hover
				color #fff
				background none

.sidebar-nav li a:hover,
.sidebar-nav li.active
	color #fff
	background rgba(255,255,255,0.2)
	text-decoration none

.sidebar-nav li a:active,
.sidebar-nav li a:focus
	text-decoration none

.content-header
	height 65px
	line-height 65px
	h1
		margin 0
		margin-left 20px
		line-height 65px
		display inline-block

#menu-toggle
	text-decoration none

.btn-menu
	color #000

.inset
	padding 20px

@media (max-width:767px)
	#wrapper
		padding-left 0
		&.active
			position relative
			left 250px
			#sidebar-wrapper
				left 250px
				width 250px
				transition all 0.4s ease 0s
	#sidebar-wrapper
		left 0
	#menu-toggle
		display inline-block
	.inset
		padding 15px

.main

	padding: 20px

.testTable

	width: 100%

	td
		font-size: 10pt
		font-family: Arial
		border-bottom: 1px solid #bbbbbb
		padding-bottom: 8px
		padding-top: 8px
		vertical-align: top

	td.test_code
		width: 800px
		font-family: monospace
		padding-right: 8px
		padding-left: 8px
		background-color: #f5f2f0

	td.test_label
		width: 200px
		min-width: 200px
		text-align: right
		border-right: 1px solid #cccccc
		padding-right: 8px

	td.test_result
		padding-left: 10px
		padding-right: 10px
		text-align: left
		border-right: 1px solid #cccccc
		min-width: 200px

.exception

	color: #ff3030
	font-family: monospace

.fage
	padding-left: 20px

pre
	padding: 0px
	border: 0px

.selectize-control
	.item
		font-size: 12px
		line-height: 32px
		height: 32px
		width: 120px
		min-width: 120px
		padding-left: 10px
		padding-right: 10px




