.hostInformation

    padding-bottom: 20px
    width: 100%

    td:nth-child(1)
        width: 130px

    td
        font-size: 12px
        padding-top: 3px
        padding-bottom: 3px


.tableRealtimeMessages

    width: 100%

    th
        border-bottom: 1px solid #000000

    th:nth-child(1)
        width: 100px

    td
        padding-top: 4px
        padding-bottom: 4px

    tr:nth-child(odd) td
        background-color: #e5e5e5


.gridItem
    overflow: auto