.main

    padding: 20px

.testTable

	width: 100%

	td
		font-size: 10pt
		font-family: Arial
		border-bottom: 1px solid #bbbbbb
		padding-bottom: 8px
		padding-top: 8px
		vertical-align: top

	td.test_code
		width: 800px
		font-family: monospace
		padding-right: 8px
		padding-left: 8px

	td.test_label
		width: 200px
		text-align: right
		border-right: 1px solid #cccccc
		padding-right: 8px

	td.test_result
		padding-left: 10px
		text-align: left
		border-right: 1px solid #cccccc

.exception

	color: #ff3030
	font-family: monospace


.fage
	padding-left: 20px

pre
	padding: 0px
	border: 0px