.windowManager

    .outside

        width: 100%
        margin: 0
        padding: 0

    .toolbar

        width: 100%
        visible: none
        margin: 0
        padding: 0

    .windowcontent

        width: 100%
        margin: 0
        padding: 0