.sortingList

    .header
        width: 100%
        font-size: 14px
        background-color: #eeeeee
        border: 1px solid #909090
        margin-bottom: 6px
        padding-left: 2px
        padding-right: 2px
        padding-top: 4px
        padding-bottom: 4px

    li
        font-size: 11px
        line-height: 16px
        background-color: #ffffe0
        margin-top: 2px
        margin-bottom: 2px
        padding: 2px
        border: 1px solid #bbbba0

    li.placeholder
        background-color: #eeeeb0
        border: 1px dashed #909080
        content: "Drop here"