.modal-header
    h4
        font-size 18px
        
.modal-body

    form

        padding-top: 10px
        padding-left: 15px
        passing-right: 15px

    label

        line-height: 20px
        padding-top: 6px
        padding-bottom: 6px
        margin-top: 1px
        margin-bottom: 1px
        
    .modal-view
        position relative
        
        .ViewForm
            position relative !important
            height auto !important
            width 100% !important