.ViewImageStrip

	controlButton()
		height     : 40px
		width      : 40px
		cursor     : pointer
		position   : absolute
		border     : 0px
		padding    : 0px
		margin     : 0px
		top        : calc(50% - 20px)
		color      : #ffffff
		text-shadow: 2px 2px #202020

	.left-arrow
		controlButton()
		left      : 10px

	.right-arrow
		controlButton()
		right   : 10px

	.scroll_wrapper
		position: relative
		z-index: 1
		overflow: hidden
		height: 100%
		width: 20%
		padding 10px

		.scroll_list_body
			// z-index: 1
			-webkit-tap-highlight-color: rgba(0,0,0,0)
			width: 100%
			-webkit-transform: translateZ(0)
			-moz-transform: translateZ(0)
			-ms-transform: translateZ(0)
			-o-transform: translateZ(0)
			transform: translateZ(0)
			-webkit-touch-callout: none
			-webkit-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			-webkit-text-size-adjust: none
			-moz-text-size-adjust: none
			-ms-text-size-adjust: none
			-o-text-size-adjust: none
			text-size-adjust: none

			ul
				list-style: none
				padding: 0
				margin: 0
				background-color transparent
				-webkit-scrollbar: hidden

				li
					padding: 0
					margin-left: 4px
					margin-right: 4px
					width 100%
					font-size: 14px
					background-color white
					max-width 100%
					padding-top: 8px
					padding-bottom: 8px

					img
						padding: 0px
						width 100%
						height 100%
						margin: 0 auto
						display: block

	.imagethumb
		border-left  : 1px solid #202020
		border-right : 1px solid #202020
		border-top   : 1px solid #202020
		margin-left  : 4px
		margin-right : 4px
		margin-top   : 8px
		margin-bottom: 4px

		.number_body
			width        : 100%
			padding      : 4px
			background   : #fff
			border-bottom: 1px solid #101010
			color        : #666
			text-align   : center
			font         : 14px Arial, sans-serif

	.imagethumb.selected
		border-left : 1px solid #ff0000
		border-right: 1px solid #ff0000
		border-top  : 1px solid #ff0000

		.number_body
			border-bottom: 1px solid #ff0000
			color: #ff0000

	.imagethumb img
		width: 100%

	.active_scroll_element
		background : green

	.thumbnail
		text-align right
		background-size 90% 100%
		background-position center
		background-repeat no-repeat
		height 110px
