doctype
html.no-focus
    head
        meta(charset='utf-8')
        title Test Pages

        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/baseedgeweb.css')
        link(rel='stylesheet', href='/vendor/selectize.css')
        link(rel='stylesheet', href='/ninja.css')
        link(rel='stylesheet', href='/css/test.css')
        link(rel='stylesheet', href='/vendor/prism.css')
        link(rel='stylesheet', href='/vendor/trumbowyg/ui/trumbowyg.min.css')
        link(rel='stylesheet', href='/vendor/flatpickr.min.css')
        link(rel='stylesheet', href='/vendor/multi-select.css')

        script(src='/vendor/jquery-3.0.0.min.js')
        script(src='/vendor/bootstrap.min.js')

        script(src='/vendor/handlebars-v3.0.3.js')
        script(src='/vendor/typeahead.bundle.min.js')

        script(src='/vendor/iscroll.js')
        script(src='/vendor/draggabilly.pkgd.min.js')
        script(src='/vendor/selectize.js')
        script(src='/vendor/ev-emitter.js')
        script(src='/vendor/numeral.min.js')
        script(src='/vendor/moment.min.js')
        script(src='/vendor/trumbowyg/trumbowyg.js')
        script(src='/vendor/html.sortable.min.js')

        script(src='/vendor/mathjs/math.js')

        script(src='/vendor/ace/ace.js')
        script(src='/vendor/ace/ext-language_tools.js')
        script(src='/vendor/setImmediate.js')
        script(src='/vendor/co.js')
        script(src='/vendor/prism.js')
        script(src='/vendor/flatpickr.min.js')
        script(src='/vendor/jquery.multi-select.js')
        script(src='/ninja.js')
        script(src='/js/test_common.js')

        script(src='//api.mapbox.com/mapbox.js/v3.0.0/mapbox.js')
        link(href='https://api.mapbox.com/mapbox.js/v3.0.0/mapbox.css', rel='stylesheet')

    body

    .container-fluid
        #wrapper
            #sidebar-wrapper

                nav#spy

                    ul.sidebar-nav.nav
                        li.sidebar-brand
                            a(href='#') Test Cases
                        li
                            a#linkMakeOutline(href='/index.html?page=globalval_1')
                                span GlobalValueManager

                        li
                            a#linkMakeOutline(href='/index.html?page=dynamic_data_1')
                                span Dynamic Data

                        li
                            a#linkMakeOutline(href='/index.html?page=dynamic_data_2')
                                span Dynamic Data 2

                        li
                            a#linkMakeOutline(href='/index.html?page=dynamic_data_3')
                                span Data Searching

                        li
                            a#linkMakeOutline(href='/index.html?page=classtools_1')
                                span Class Tools

                        li
                            a#linkMakeOutline(href='/index.html?page=ninjacontainer_1')
                                span Ninja Container

                        li
                            a#linkMakeOutline(href='/index.html?page=editors')
                                span Data Formatting Editors

                        li
                            a#linkMakeOutline(href='/index.html?page=database_1')
                                span Database 1

                        li
                            a#linkMakeOutline(href='/index.html?page=dialog_1')
                                span Dialog Boxes

                        li
                            a#linkMakeOutline(href='/index.html?page=forms')
                                span Forms

                        li
                            a#linkAddress(href='/index.html?page=popup_menu_1')
                                span Popup menus

                        li
                            a#linkAddress(href='/index.html?page=popup_window_1')
                                span Popup window

                        li
                            a#linkMakeOutline(href='/index.html?page=tabs_1')
                                span Tabs
                        li
                            a#linkMakeOutline(href='/index.html?page=navbar')
                                span Navbar

                        li
                            a#linkMakeOutline(href='/index.html?page=tables_1')
                                span Tables

                        li
                            a#linkMakeOutline(href='/index.html?page=tables_2')
                                span Tables Advanced
                        li
                            a#linkMakeOutline(href='/index.html?page=tables_3')
                                span Tables Automatic

                        li
                            a#linkMakeOutline(href='/index.html?page=tables_5')
                                span Tables Grouping

                        li
                            a#linkMakeOutline(href='/index.html?page=tables_detail_1')
                                span TableDetail 1

                        li
                            a#linkMakeOutline(href='/index.html?page=code_editor')
                                span Code Editor
                        li
                            a#linkMakeOutline(href='/index.html?page=test_chart1')
                                span Charts with CanvasJs

                        li
                            a#linkMakeOutline(href='/index.html?page=icons')
                                span Icons

                        li
                            a#linkMakeOutline(href='/index.html?page=miller')
                                span Miller Columns

                        li
                            a#linkMakeOutline(href='/index.html?page=test_imagestrip')
                                span Image Strip
                        li
                            a#linkMakeOutline(href='/index.html?page=test_widget_splittable')
                                span Widget Splittable

            #page-content-wrapper
                .page-content
                    #mainTestArea
