li
    .badge
        margin-right: 10px
        &.badge-warning
        	background-color: #f0ad4e
        	color: #fff
        &.badge-primary
        	background-color: #337ab7
        	color: #fff
        &.badge-success
        	background-color: #5cb85c
        	color: #fff
        &.badge-danger
        	background-color: #d9534f
        	color: #fff
        &.badge-info
        	background-color: #5bc0de
        	color: #fff
    .badge-right
        margin-left: 10px
        margin-right: 0px
