.data
    cursor      : default
    padding     : 4px
    font-family : arial
    font-weight : 300

.data.dt_decimal

    text-align: right

.data.dt_int

    text-align: right

.data.dt_money

    text-align: right

.dataChanged

    color       : #ff0000 !important
    font-weight : 500

.editable

    cursor: text !important

.editable:hover
    border: 1px solid #00bb00
