.data

    padding     : 4px
    font-family : arial;
    font-weight : 300

.data.decimal

    text-align: right

.editable

    cursor: ibeam

.editable:hover
    border: 1px solid #00bb00

.dataChanged

    color: #ff0000 !important
    font-weight: 500

