.form-container
	padding: 10px
	
.form-input-fullwidth-custom
	width: 100%
	float: none
	text-align left !important

.form-label-fullwidth-custom
	width: 100%
	float: none
	padding-bottom: 10px
	text-align left !important

	
.form-button-fullwidth-custom
	width: 100%
	float: none
	padding-bottom: 10px

.form-group.form-group-halfwidth-custom
	width 50%
	float left

.form-group.form-group-fullwidth-custom
	width 100%
	float none

.no-margin-x	
	margin-right 0px !important
	margin-left 0px !important
	
.form-label-autowidth-custom
	width auto !important
	line-height 34px
	
.form-input-autowidth-custom
	width auto !important

.form-pathfield
	padding 6px 12px
	
.label-pathfield
	text-transform capitalize

.data 
	height auto
	min-height 34px
	max-height 170px
	overflow auto
	&.editable
		background-color rgba(209,252,222,0.4)

.custom 
	border none
	background-color transparent !important
	cursor pointer !important
	width auto
	&:hover
		border: none !important
		
.calculation
	background-color rgba(209,238,242,0.4)
	
.form-group.centered-with-padding
	text-align: center
	padding-right 15px
	padding-left 15px
	
.padding-right-label
	padding-right 20px
