.form-container
	padding: 10px
	
.form-input-fullwidth-custom
	width: 100%
	float: none
	text-align left !important

.form-label-fullwidth-custom
	width: 100%
	float: none
	text-align left !important
	padding-bottom 10px
	
.form-group .form-button-fullwidth-custom
	width: 100%
	float: none
	padding-bottom: 10px
	margin-left 0

.form-group.form-group-halfwidth-custom
	width 50%
	float left

.form-group.form-group-fullwidth-custom
	width 100%
	float none

.no-margin-x	
	margin-right 0px !important
	margin-left 0px !important
	
.form-group .form-label-autowidth-custom
	width auto !important
	line-height 34px
	padding-right 0
	
.form-group .form-input-autowidth-custom
	width auto !important

.form-minwidth-half
	min-width 50%
	
.form-pathfield
	padding 6px 12px
	
.label-pathfield
	text-transform capitalize

.data 
	height auto
	min-height 34px
	max-height 170px
	overflow auto
	&.editable
		background-color rgba(209,252,222,0.4)

.custom 
	border none
	background-color transparent !important
	cursor pointer !important
	width auto
	&:hover
		border: none !important
		
.calculation
	background-color rgba(209,238,242,0.4)
		
.margin-left-20
	margin-left 20px

.margin-top-10
	margin-top 10px
	
.margin-top-0
	margin-top 0px !important

.padding-x-15
	padding-left 15px
	padding-right 15px
	
.padding-x-0
	padding-left 0px
	padding-right 0px

.padding-bottom-10
	padding-bottom 10px
	
.padding-right-label
	padding-right 20px
	
.form-control-danger, .form-control-success, .form-control-warning
	padding-right: 2.25rem
	background-repeat: no-repeat
	background-position: center right .5625rem
	-webkit-background-size: 1.125rem 1.125rem
	background-size: 1.125rem 1.125rem

.has-success .form-control-success
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");

.has-warning .form-control-warning
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");

.has-error .form-control-danger
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
