link(rel='stylesheet', href='/src/data_formatter/data.css')

script(src='/js/data_formatter/data_formatter.js')
script(src='/js/data_formatter/data_formatter_types.js')
script(src='/js/data_formatter/data_type_collection.js')

script(src='/js/data_formatter/data_cell.js')
script(src='/js/data_formatter/data_map.js')

script(src='/test/js/test_data/TableConfigTestZipcodes.js')
script(src='/test/js/test_data/TableConfigProperty.js')

link(rel='stylesheet', href='/src/popup_menu/popup_menu.css')
link(rel='stylesheet', href='/src/popup_menu/popup_menu_calendar.css')

script(src='/js/popup_menu/popup_menu.js')
script(src='/js/popup_menu/popup_menu_calendar.js')

//- Data set manager

script(src='/js/data_set/data_set.js')

script(src='/test/js/dynamic_data_3.js')

#testCase
