link(rel='stylesheet', href='/src/data_formatter/data.css')

script(src='/js/data_formatter/data_formatter.js')
script(src='/js/data_formatter/data_formatter_types.js')
script(src='/js/data_formatter/data_type_collection.js')

script(src='/js/data_formatter/data_cell.js')
script(src='/js/data_formatter/data_map.js')

script(src='/test/js/test_data/TableConfigTestZipcodes.js')

script(src='/test/js/dynamic_data_2.js')

#testCase
