doctype
html.no-focus
    head
        meta(charset='utf-8')
        title Test Pages
        link#css-local(rel='stylesheet', href='/vendor/oneui.min.css')
        link(rel='stylesheet', href='/css/main.css')

        script(src='/vendor/oneui.min.js')
        script(src='/vendor/moment.min.js')
        script(src='/vendor/numeral.min.js')
        script(src='/vendor/handlebars-v3.0.3.js')
        script(src='/vendor/typeahead.bundle.min.js')
        script(src='/test/js/test_common.js')

        script(src='/js/util/GlobalValueManager.js')

    body

    //|
    //|  This template is based on the OneAdmin theme
    //|  Go here to see tons of other options and styles:
    //|  http://pixelcave.com/demo/oneui/
    //|

    #page-container.sidebar-l.sidebar-o.side-scroll

        nav#sidebar

            #sidebar-scroll

                .sidebar-content

                    .side-header.side-content.bg-white-op

                        button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg(type='button', data-toggle='layout', data-action='sidebar_close')
                            i.fa.fa-times

                        a.h5.text-white(href='/')
                            span.h4.font-w600.sidebar-mini-hide Test Cases

                    .side-content

                        ul.nav-main

                            li
                                a#linkMakeOutline(href='/dynamic_data_1')
                                    i.si.si-arrow-right
                                    span Dynamic Data

                            li
                                a#linkMakeOutline(href='/dynamic_data_2')
                                    i.si.si-arrow-right
                                    span Dynamic Data 2

                            li
                                a#linkMakeOutline(href='/dynamic_data_3')
                                    i.si.si-arrow-right
                                    span Data Searching

                            li
                                a#linkMakeOutline(href='/dialog_1')
                                    i.si.si-arrow-right
                                    span Dialog Boxes

                            li
                                a#linkAddress(href='/address_normalizer_1')
                                    i.si.si-arrow-right
                                    span Address Data

                            li
                                a#linkAddress(href='/popup_menu_1')
                                    i.si.si-arrow-right
                                    span Popup menus

                            li
                                a#linkAddress(href='/popup_window_1')
                                    i.si.si-arrow-right
                                    span Popup window

                            li
                                a#linkMakeOutline(href='/data_mapper_1')
                                    i.si.si-arrow-right
                                    span Data Mapping UI

                            li
                                a#linkMakeOutline(href='/tables_1')
                                    i.si.si-arrow-right
                                    span Tables

        main#main-container.main

            |!{ page }



