script(src='/vendor/iscroll.js')
script(src='/vendor/draggabilly.pkgd.min.js')

link(rel='stylesheet', href='/src/popup_window/popup_window.css')
script(src='/js/popup_window/popup_window.js')
script(src='/test/js/popup_window_1.js')

#testCase
