//- Data formatter

link(rel='stylesheet', href='/src/data_mapper/DataMapper.css')
script(src='/js/data_formatter/data_formatter.js')
script(src='/js/data_formatter/data_formatter_types.js')
script(src='/js/data_formatter/data_type_collection.js')
script(src='/js/data_formatter/data_gateway.js')

//- Data set manager

script(src='/js/data_set/data_set.js')

//- Popups

link(rel='stylesheet', href='/src/popup_menu/popup_menu.css')
link(rel='stylesheet', href='/src/popup_menu/popup_menu_calendar.css')

script(src='/js/popup_menu/popup_menu.js')
script(src='/js/popup_menu/popup_menu_calendar.js')

//- Popup Window

script(src='/vendor/iscroll.js')
script(src='/vendor/draggabilly.pkgd.min.js')

link(rel='stylesheet', href='/src/popup_window/popup_window.css')
script(src='/js/popup_window/popup_window.js')

//- Table View

link(rel='stylesheet', href='/src/tableview/tableview.css')
link(rel='stylesheet', href='/src/tableview/detail_view.css')

script(src='/js/tableview/tableview.js')
script(src='/js/tableview/tableview_col.js')
script(src='/js/tableview/tableview_configuration.js')

//- Test page

script(src='/test/js/test_data/TableConfigTestZipcodes.js')
script(src='/test/js/tables_1.js')

#testCase
