.test_case

    width: 100%
    border-bottom: 1px solid #606060
    padding: 6px
    cursor: pointer

.test_label
    border: 1px solid #eeeee
    padding: 4px

.test_result
    padding: 4px
    clear  : both
    color  : #209010

