.floatingWindow
    background-color : #e6e6e6;
    overflow         : hidden
    display          : none
    border           : 1px solid blue
    width            : auto !important
    height           : auto !important
    position         : absolute
    z-index          : 1503400

.floatingWinBody
    width: 100%
    height: 100%

.floatingDropdown
    margin  : 0
    padding : 0
    border  : 1px solid #cccccc
    height  : 34px

.floatingDropdownValue
    padding-top:    6px
    padding-left:   6px
    padding-right:  4px
    padding-bottom: 6px
    overflow:       hidden
    font-size:      12px
    text-overflow:  ellipsis
    white-space:    nowrap
    margin-right:   20px

.floatingDropdownIcon
    float       : right
    left        : 100%
    padding-left : 4px
    padding-right: 6px
    margin-left : 0px
    margin-top  : -20px
    color       : #cccccc

.floatingDropdown:hover .floatingDropdownIcon
    color : #00bb00

.floatingDropdown:hover
    border: 1px solid #00bb00